<div>
    <p><%= f.label :name, "Passenger name" %> <%= f.text_field :name, required: true, minlength: 4, maxlength: 16 %></p>
    <p><%= f.label :email, "Passenger email" %> <%= f.email_field :email, required: true %></p>
</div>